/* global style */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

:root {
    /* Color */
    /* Primary */
    --tufts-blue: #4A89DC;
    --jasper: #DA373C;

    /* Neutral */
    --white: #FFFFFF;
    --chinese-white: #E0E0E0;
    --anti-white: #F2F2F2;
    --chinese-silver: #CCCCCC;
    --grey: #808080;
    --dark-charcoal: #333333;


    /* Opacity */
    --bg-opacity: 0.5;

    /* Typography */
    /* Font Size */
    --forHeader: 22px;
    --forParagraph: 14px;

    /* Font Family */
    --ffRoboto: 'Roboto', sans-serif;

    /* Font Weights */
    --fwLight: 300;
    --fwReguler: 400;
    --fwMedium: 500;
    --fwBold: 700;
    --fwExtraBold: 800;
}

* {
    -webkit-box-sizing: border-box;
    /*Safari/Chrome,otherWebKit*/
    -moz-box-sizing: border-box;
    /*Firefox,otherGecko*/
    box-sizing: border-box;
    /*Opera/IE8+*/
    transition: all 0.3s;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: var(--anti-white);
    padding-bottom: 100px;
}

h1,
a {
    color: var(--dark-charcoal);
    font-weight: var(--fwLight);
    text-decoration: none;
}

p {
    color: var(--grey);
    font-size: var(--forParagraph);
    font-weight: var(--fwLight);
}

ul,
li {
    color: var(--grey);
    font-weight: var(--fwLight);
    font-size: var(--forParagraph);
}

p a {
    text-decoration: underline;
}

blockquote {
    border-left: 3px solid var(--chinese-white);
    width: 100%;
    padding-left: 10px;
    margin: 0px;
}